body{
    background: linear-gradient(to right, #4ac29a, #bdfff3);
    /* background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
}
#parent{
    display: flex;
    justify-content: center;
    /* align-items: center;
    justify-content: center; */
}
#scoreBoard{
    height: 100px;
    width: 200px;
    border: 2px solid rgb(12, 12, 12);
    border-radius: 20px;
    margin-left: 150px;
    font-size: large;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#popup{
    height: 150px;
    width: 400px;
    margin: 0 auto;
    margin-top: 220px;
    display: none;
	background-color:black;
    color: white;
    position: relative;
    text-align: center;
    border-radius: 20px;
    border: 2px solid white;
    z-index: 1; 
    
    
}
.micro-5-regular {
    font-family: "Micro 5", sans-serif;
    font-weight: 400;
    /* font-style: normal; */
  }
  
#score{
    margin-top: 30px;
    font-size: large;
    font-weight: bold;
    /* text-align: center; */
}

#close{
    cursor: pointer;
    padding: 6px;
    float: right;
    font-size: 30px;
    font-weight: bold;
}
#popupParent{
    height: 670px;
    width: 100vw;
    position: absolute;
    
    
}
